body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

.logo {
    float: left;
    margin-left: 10px;
}

header {
    height: 69px;
    border-bottom: 1px solid seashell;
}

.nav {
    list-style: none;
    text-decoration: underline;
    display: flex;
    float: right;
    margin: 0;
}

.nav li {
    padding-left: 15px;
}

.statementContainer {
    position: relative;
}

.missionStatement {
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
}

monthlyTea {
    margin: 0 auto;
    padding-top: 50px;
    width: 1000px;
    height: 700px;
}

.monthlyImageContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px auto;
    width: 1000px;
}

.interiorContainer  {
    margin: 10px;
    width: 300px;
}
